html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#game {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}